.container {
  background: purple;
  width: 90vw;
  height: 90vh;
  margin: 3rem;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}

.parent {
  background: blue;
  color: white;
  width: 60vw;
  height: 40vh;
  /* display: flex;
  justify-content: center;
  align-items: center;  */
}

.ball {
  background: radial-gradient(white, blue);
  width: 50px;
  height: 60px;
  border-radius: 50%;

  position: absolute;
  top: 50px;
  left: 20px;
  animation: bounce 3s infinite forwards;
}

/* animation ====== line number 36 to 44 are all animation properties*/
/* keyframes */
/* animation-name:bounce;
animation-duration: 3s;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-direction: alternate;
animation-fill-mode: forwards;
animation-delay: 0s; */

@keyframes bounce {
  0% {
  }
  25% {
    top: 50px;
    left: 80vw;
    background: radial-gradient(white, cyan);
  }
  50% {
    top: 80vh;
    left: 80vw;
    background: radial-gradient(white, purple);
  }
  75% {
    top: 80vh;
    left: 20px;
    background: radial-gradient(white, red);
    /* opacity: 10; */
  }
  100% {
    top: 50px;
    left: 20px;
  }
}
